<!DOCTYPE html>
<html>
<head>
    <title>Birthday Surprise</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div id="quiz">

<form action="/experience-q3" method="POST">

    <h3>Okay okay, I'm only kidding 🤭 Who would you like to go with?</h3>

    <div class="options-grid">

        <label class="option">
        <input type="radio" name="who_with" value="alone" required>
        <div class="option-card">
             Alone
        </div>
        </label>

        <label class="option">
        <input type="radio" name="who_with" value="friends" required>
        <div class="option-card">
             Friends
        </div>
        </label>

        <label class="option">
        <input type="radio" name="who_with" value="partner" required>
        <div class="option-card">
             Me ❤️
        </div>
        </label>
    </div>


    <br><br>

    <button type="submit">
        See Results
    </button>

</form>
</div>
</body>
</html>