<!DOCTYPE html>
<html>
<head>
    <title>Birthday Surprise</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>

<div id="quiz">

<form action="/branch" method="POST">

    <h3>Would you prefer a gift or an experience?</h3>

    <div class="options-grid">
        <label class="option">
        <input type="radio" name="choice" value="gift" required>
        <div class="option-card">
             Gift 🎁
        </div>
        </label>

        <label class="option">
            <input type="radio" name="choice" value="experience">
            <div class="option-card">
                Experience 🎟️
            </div>
        </label>

    </div>

    <br><br>

    <button type="submit">
        Continue
    </button>

</form>
</div>
</body>
</html>